In [1]:
import pandas as pd
import numpy as np

In [3]:
# Crear array de numpy
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

# Crear DataFrame a partir del array
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
data = {
    'A' : [1, 4, 7],
    'B' : [2, 5, 8],
    'C' : [3, 6, 9]
}
df = pd.DataFrame(data)
df

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [5]:
# Convertir un DataFrame a array
array = df.to_numpy()
array

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [6]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
# Calcular el promedio de cada columna
mean_colums = np.mean(df, axis=0)
mean_colums

A    4.0
B    5.0
C    6.0
dtype: float64

In [9]:
# Calcular el promedio de cada fila
mean_filas = np.mean(df, axis=1)
mean_filas

0    2.0
1    5.0
2    8.0
dtype: float64